body {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    background-color: #FFF;

    overflow-x: hidden;
}

header {
    margin: 2rem 0;
}

footer {
    text-align: center;
    color: #555;

    padding: 1.5rem 0;
}

.block--breadcrumbs > p {
    margin: 0;
}

.block--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.3rem;
}

.block--title > p {
    font-size: 150%;
    font-weight: bold;

    margin: 0;
    margin-right: 0.3rem;
}

.block--published > p {
    margin: 0;
}

img {
    width: 100%;
}

code {
    padding: 0.2rem;
}

code, .codeblock {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-size: 0.8rem;

    background-color: #111;
    color: #FFF;
    border-radius: 0.3rem;
}

.codeblock {
    margin: 0.5rem -0.5rem;
    padding: 0.5rem;
}

h2 {
    font-size: 120%;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

h3 {
    font-size: 100%;
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
}

.heading__link {
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
    line-height: 1.5rem;
    font-size: 1.1rem;
}

ol, ul {
    margin: 0.2rem 0;
}

a {
    color: #000;
    transiiton: opacity 0.08s linear;
}

a:hover {
    color: #22D;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
}

sup, sub {
    font-size: 70%;
}
